form .error {
    color: #A94442;
}

span[id$=errors] {
    color: #A94442;
    font-weight: bold;
}

.popover-content strong {
    min-width: 80px;
    display: inline-block;
}

.popover-content button {
    margin-right: 10px;
}
