<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header"></head>

<body>
<div class="container">
    <nav th:replace="includes/header :: navig"></nav>
    <div class="card">

        <div class="card-header">
            <h1 class="card-title">Está a punto de borrar el siguiente autor</h1>
        </div>

        <div class="card-body">
            <form method="post" th:object="${autor}">

                <div th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                </div>

                <div class="container">
                    <div class="row justify-content-sm-start">
                        <div class="col col-sm-3">Apellido</div>
                        <div class="col col-sm-auto">
                            <span th:text="${autor.apellido}">Tolkien</span>
                        </div>
                    </div>
                    <div class="row justify-content-sm-start">
                        <div class="col col-sm-3">Nombre</div>
                        <div class="col col-sm-auto">
                            <span th:text="${autor.nombre}">J.R.R.</span>
                        </div>
                    </div>
                    <div class="row justify-content-sm-start">
                        <div class="col col-sm-3">Fecha creación</div>
                        <div class="col col-sm-auto">
                            <span th:text="${#dates.format(autor.createdOn, 'dd/MM/yyyy hh:mm a')}">Jueves 17 de Agosto de 2017</span>
                        </div>
                    </div>
                    <div class="row justify-content-sm-start">
                        <div class="col col-sm-3">Fecha última modificación</div>
                        <div class="col col-sm-auto">
                            <span th:text="${#dates.format(autor.modifiedOn, 'dd/MM/yyyy hh:mm a')}">Jueves 17 de Agosto de 2017</span>
                        </div>
                    </div>
                </div>

                <p/>

                <div th:unless="${#lists.isEmpty(autor.libros)}" >
                    No se puede eliminar el autor ya que aún existen libros. Por favor eliminarlos primero:
                    <ul>
                        <li th:each="libro : ${autor.libros}">
                            <a th:href="@{'/libros/' + ${libro.id} + '/borrar'}" th:text="${libro.titulo}">Un libro</a>
                        </li>
                    </ul>
                </div>
                <div th:if="${#lists.isEmpty(autor.getLibros())}" >
                    <p/>
                    <p><strong>Está seguro?</strong></p>
                    <button class="btn btn-primary">Sí</button>
                    <a class="btn btn-danger"
                       th:href="@{'/autores/' + ${autor.id}}">No
                    </a>
                </div>
            </form>
        </div>

    </div>
</div>

<div th:replace="includes/footer :: footer"></div>

</body>
</html>
