<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Libros</title>

    <!-- Bootstrap  -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- CSS nuestro -->
    <link th:href="@{/css/estilos.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <nav th:fragment="navig" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:href="@{/}">Librería Virtual</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="#" th:href="@{/}">Inicio <span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link" href="libros" th:href="@{/libros}">ABM Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="autores" th:href="@{/autores}">ABM Autores</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ingresar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Ingresar</a>
                        <a class="dropdown-item" href="#">Mi cuenta</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Salir</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Inactivo</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>

    <div th:if="${flashMessage != null}" class="alert alert-${flashKind} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        ${flashMessage}
    </div>

</div>
</body>
</html>
